<button title="First Page" ng-click="SetCurrentCategory(CurrentCategory, 1)">
    <i class="glyphicon glyphicon-step-backward"></i>
</button>
&nbsp;
<button title="Previous Page" ng-click="SetCurrentCategory(CurrentCategory, CurrentCategoryProducts.currentPage-1)"
        ng-disabled="IsFirstPage">
    <i class="glyphicon glyphicon-chevron-left"></i>
</button>
&nbsp;
<span>Page: {{CurrentCategoryProducts.currentPage}} / {{CurrentCategoryProducts.totalPages}}</span>
&nbsp;
<button title="Next Page" ng-click="SetCurrentCategory(CurrentCategory, CurrentCategoryProducts.currentPage+1)"
        ng-disabled="IsLastPage">
    <i class="glyphicon glyphicon-chevron-right"></i>
</button>
&nbsp;
<button title="Last Page" ng-click="SetCurrentCategory(CurrentCategory, CurrentCategoryProducts.totalPages)">
    <i class="glyphicon glyphicon-step-forward"></i>
</button>
